@charset "utf-8";
/*===============================스타일=======================================*/
.box1 b{float: right; color: #fff; margin-right: 30px; font-size: 1.5em; font-weight: normal;}
.box1 input{float: right; margin-right: 30px; border: none; background-color: #a699e6; color: #fff; padding: 5px;}
.box1 button{font-size: 3em; background-color: #0082e8; color: #fff; position:absolute; top:55%; left:5%; transform:translate(-50%,-50%);}
.box1{width: 100%; height: 10%; background-color: #0082e8; position:relative;}
.glyphicon-user{color: #fff; float: right; font-size: 3em; margin-right: 30px;}
.left-box{width: 69%; height: 100%;  float: left; padding: 20px;}
.right-box{width: 30%; height: 100%;  float: right; padding: 20px;}
